/* Сексия наши преимущества  */


.advantages-list {
    display: flex;
    justify-content: end;
    padding-top: 94px;
    padding-bottom: 94px;
    
    @media screen and ( max-width: 480px) {
        display: block ;
        padding-top: 0;
        padding-bottom: 60px;
       
    }



&__item:not(:last-child) {
    margin-right: 30px;
    
    @media screen and ( max-width: 480px) {
        margin-right: 0;
    }
}


&__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    @media screen and ( max-width: 480px) {
        text-align: center;
        
    }
}


&__text {
   color: $gray;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 1.71;
   }

}

    .antenna-section {
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    border-radius: 4px;

    background-color: #F5F4FA;

    @media screen and ( max-width: 480px) {
       width: 100%;
    }

    }
    .antenna {
    width: 65px;
    height: 70px;
    margin-left: 102px;
    margin-right: 102px;
    margin-top: 20px;
    margin-bottom: 20px;

    @media screen and ( max-width: 480px) {
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 192px;
        margin-right: 192px;

     }
    }

    .clock-section {
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: #F5F4FA;

    @media screen and ( max-width: 480px) {
        width: 100%;
     }
    }

    .clock {
    width: 65px;
    height: 70px;
    margin-left: 102px;
    margin-right: 102px;
    margin-top: 20px;
    margin-bottom: 20px;

    @media screen and ( max-width: 480px) {
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 192px;
        margin-right: 192px;

     }  
    }
    .diagram-section {
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: #F5F4FA;

    @media screen and ( max-width: 480px) {
       width: 100%;
    }

    }

    .diagram {

    width: 65px;
    height: 70px;
    margin-left: 102px;
    margin-right: 102px;
    margin-top: 20px;
    margin-bottom: 20px;
      
    @media screen and ( max-width: 480px) {
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 192px;
        margin-right: 192px;

     }
    }


    .astronaut-section {
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    border-radius: 4px;

    background-color: #F5F4FA;

    @media screen and ( max-width: 480px) {
        width: 100%;
     }
    
    }

    .astronaut {
    width: 65px;
    height: 70px;
    margin-left: 102px;
    margin-right: 102px;
    margin-top: 20px;
    margin-bottom: 20px;
      
    @media screen and ( max-width: 480px) {
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 192px;
        margin-right: 192px;

     }
    }