  
     /*  footer */

     .page-footer {
    
        background-color: $footer-hero;
    }
     
    .main-footer {
      
        display: flex;
        align-items: baseline;

        @media screen and (max-width: 480px) {

            display: inline;
        }
        
    }
    
    .addres-section {
        
        width: 231px;
        padding-top: 60px;
        padding-bottom: 60px;
      

        @media screen and (max-width: 480px) {
            display: flex;
            flex-direction: column;
            align-items: center;
             width: 100%;
        }
       
    }
    
    .addres-list {
        list-style-type: none;
        padding: 0;
        margin: 0;

        @media screen and (max-width: 480px) {
            
            display: flex;
            flex-direction: column;
            align-items: center;
         }
   
    &__addres {
        margin-top: 18px;
        margin-bottom: 9px;
        font-weight: 200;
        font-style: normal;
        font-size: 14px;
        line-height: 1.71;
        color: $white;

        @media screen and (max-width: 480px) {
            margin-bottom: 8px;
        }
    }
    
    &__mail {
        margin-bottom: 9px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.71;
        color: rgba(255, 255, 255, 0.6);

        @media screen and (max-width: 480px) {
            margin-bottom: 8px;
        }
    } 
    
    &__mail:last-child {
        margin-bottom: 0;
    }
    
}  
    
    
        .join-section {
           
            margin-left: 70px;
            

            @media screen and (max-width: 480px) {
               display: flex;
               flex-direction: column;
               align-items: center;
               margin-left: 0;
            }
            
        
        &__title { 
    
            padding-bottom: 20px;
            font-weight: bold;
            font-size: 14px;
            line-height: 1.14;
            color: $white;
    
        }
    }

        .svg-position {
    
            display: flex;
            height: 44px;
            justify-content: center;
            
        }
            .link__svg {
                margin-right: 10px;
                width: 44px;
                height: 44px;
                border-radius: 50px;
                background-color: rgba(255, 255, 255, 0.1);
                transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
                
                
            
    
            &-inst {
                 margin: 12px 12px;
                 width: 20px;
                 height: 20px;
                 fill: $white;
             }
    
    
            &:last-child{
                margin-right: 0px;
            }
    
            &:hover {
                background-color: $active;
                
            }
           
    
            &-twit {
                margin: 14px 12px;
                width: 20px;
                height: 16px;
                fill: $white;
            }
    
            &-facebook {
                margin: 12px 17px;
                width: 10px;
                height: 20px;
                fill: $white;
            }
    
           
    
            &-linked{
                margin: 12px 12px;
                height: 20px;
                width: 20px;    
                fill: $white;
            }
    
        }

    
        
    /* Секция футтера "подписывайтесь" */
    
    .subscribe-section{
    
        margin-left: 94px;

        @media screen and (max-width: 480px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
            
        }

    
        &__label{
            margin: 0;
            
            font-weight: bold;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            
            color: $white;

            @media screen and (max-width: 480px){
                margin-top: 60px;
            }
        }


        &__form {

            @media screen and (max-width: 480px) {
             display: inline-flex;
             flex-direction: column;
             align-items: center;
            }
        }

        &__input{
            
            margin-top: 20px;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 15px;
            width: 353px;
            
            
            background-color: $footer-hero;
            font-size: 16px;
            line-height: 1.25;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
            
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 4px;

            
            @media screen and (max-width: 480px){
                margin-bottom: 20px;
                max-width: 450px;
            }
        }     
        
        &__input:not(:placeholder-shown),
        &__input:focus{
            border: 2px solid $active;
            
        }
    }     

    

    .subscribe-btn {
            
   display: inline-flex;
   align-items: center;
   margin-left: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 27px;
   padding-right: 30px;
   font-weight: bold;
   font-size: 16px;
   line-height: 1.87;
   letter-spacing: 0.06em;
   color: $white;
   background-color: $active;
   border: 0;
   border-radius: 4px;
   transition: 100ms cubic-bezier(0.4, 0, 0.2, 1) ;
   cursor: pointer;


   @media screen and (max-width: 480px) {

    margin-bottom: 60px;
}
    
                    
      &__icon-svg{
           fill: $white;
           width: 24px;
           height: 24px;
           margin-left: 10px;
       }
      &:hover{
           box-shadow: inset 0px 0px 4px 5px rgba(0,0,0,0.29);
           
       }
    
}  