/* header */



.header-nav {
    display: flex;
    align-items: center;
    
    @media screen and (max-width: 480px), screen and (max-width: 768px) {

        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
      
    }
    



&__list {
    display: flex;

    @media screen and (max-width: 480px), screen and (max-width: 768px) {
        display: none;
    }
}



&__list-link.line::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: $active;
    border-radius: 2px;
}




&__list &__list-item:not(:last-child) {
    margin-right: 50px;
}

&__list-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 28px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.14;
    color: $black;
    
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 
}

&__list-link:hover{
    color: $active;
}


&__list .action {
    color: $active;
 }



}

.line {
    position: relative;
}



/*секция контактов */

.connection-list {
    display: flex;
    margin-left: auto;
    
    @media screen and (max-width: 480px), screen and (max-width: 768px) {
        display: none;
    }

&__link {
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: $gray;
    align-items: center;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 
    
}

&__link:hover &__svg-mail {
        fill: $active;
        
    }
    &__link:hover &__svg-phone {
        fill: $active;
        
    }

    &__link:hover {
        color: $active;
        
    }

    
    &__svg-mail {
        
            margin-right: 10px;
            width: 16px;
            height: 12px;
            fill: $gray;
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 
        }
        
    
     &__svg-phone {

            margin-left: 30px;
            margin-right: 10px;
            width: 10px;
            height: 16px;
            fill: $gray;
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 
    
        }
}       


.mob-btn {

    display: none;
    
    @media screen and (max-width: 480px), screen and (max-width: 768px) {

        display: inline-flex;
        align-items: center;
        border: 0;
        padding: 0;
        background-color: transparent;
        margin-top: 22px;
        margin-bottom: 22px;
        cursor: pointer;
        height: 20px;
        width: 20px;
        
       
    }

   


  &:hover &__svg-menu {

     fill: $active;

 }

 &__svg-cross {

    display: none;
   
 }

 &.is-open  &__svg-cross {

     display: block;
     
 }

 &.is-open  &__svg-menu {

     display: none;
 }

}

