/* Сайт герой главная */


.page-hero {

    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), 
    url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    
    @media screen and (max-width: 767px) {

        
        margin-bottom: 60px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4) ), 
        url("../images/mob-hero.jpg") ;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
   
 
   }

    @media screen and (min-width: 768px), screen and ( max-width: 1199px) {

        
        margin-bottom: 60px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4) ), 
        url("../images/tablet-hero.jpg") ;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
 
   }

    @media screen and (min-width: 1200px) {

        margin-bottom: 0;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4) ), 
        url("../images/hero.jpg")  ;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        
    }

   
   
 
 &__title {
     padding-top: 200px;
     margin: 0;
     font-size: 44px;
     line-height: 1.36;
     text-transform: uppercase;
     letter-spacing: 0.06em;
     color: $white;

     @media screen  and (max-width: 480px), screen and (max-width: 767px) {
        padding-top: 118px;
       font-size: 26px ;
       line-height: 1.38;
       text-align: center ;
       letter-spacing: 0.06em; 

     }

     @media screen  and (min-width: 768px) and  ( max-width: 1199px){
        padding-top: 118px;
        font-size: 26px ;
        line-height: 1.5;
        text-align: center ;
        letter-spacing: 0.06em; 
 
     }
    
  }

 &__button {
     display: inline-block;
     padding-left: 32px;
     padding-right: 32px;
     padding-top: 10px;
     padding-bottom: 10px;
     margin-top: 30px;
     margin-bottom: 200px;
     
     border-radius: 4px;
     transition: 100ms cubic-bezier(0.4, 0, 0.2, 1) ;
     background-color: $active;
     color: $white;
     
     font-style: normal;
     font-weight: bold;
     font-size: 16px;
     line-height: 1.87;
     cursor: pointer;
    
     @media screen  and (max-width: 480px), screen and (max-width: 767px) {
        margin-bottom: 118px;

     }
     
     @media screen  and (min-width: 768px) and  ( max-width: 1199px) {

        margin-bottom: 118px;
     }
 }
 
&__button:hover {
         box-shadow: inset 0px 0px 4px 5px rgba(0,0,0,0.29);
                         
      }


      
     
}