
/* модалка */

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.301);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
  
    
    &.is-hidden{
        opacity: 0;
        pointer-events: none;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    }

        &.is-hidden .modal{
            transform: translate(-50%, -50%) scale(1.1) ;
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
        }
 }

.modal {
    position: absolute;
    width: 528px;
    top:  50%;
    left: 50%;
   

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    background-color: $white;

    transform: translate(-50%, -50%)  scale(1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    
    @media screen  and (max-width: 480px), screen and (max-width: 768px) {

        width: 90%;
        max-width: 450px;
        padding-left: 10px;
        padding-right: 10px;
       
    }

                &-btn {

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    

                    margin-top: 8px;
                    margin-right: 8px;
                    margin-left: 490px;
                    margin-bottom: 2px;
                    padding: 0;
                    width: 30px;
                    height: 30px;

                    border: 1px solid rgba(0, 0, 0, 0.2);
                    border-radius: 50px;
                    cursor: pointer;
                    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1) ;
                    background-color: #fff;

                    @media screen  and (max-width: 480px), screen and (max-width: 768px) {

                        margin-right: 8px;
                        margin-bottom: 2px;
                        margin-left:  auto;
                       
                    }
                }

                
                &-btn:hover {
        
                    transform: rotateZ(360deg);
                    border: 2px solid $active;
                    
                }
                
                
                
                   &-btn:hover .cross-svg {
                       fill: $active;
                       transform: rotateZ(360deg);
                       transform: scale(1.4);
                   }
                   
                   &-title {
                        margin: 0;
                        margin-bottom: 12px;
                        text-align: center;
                        font-weight: bold;
                        font-size: 20px;
                        line-height: 1.15;
                        letter-spacing: 0.03em;

                        color: $black;

                        @media screen  and (max-width: 480px), screen and (max-width: 768px) {

                            margin-left: auto;
                            margin-right: auto;
                            font-weight: bold;
                            font-size: 19px;
                            line-height: 1.50;
                            text-align: center;
                            letter-spacing: 0.03em;
                           
                        }
                    }

}                       
