.logo {

    color: $active;
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;

    line-height: 1.19;
    @media screen and (max-width: 480px),  screen and (max-width: 768px) {
      
      font-size: 24px;
     
   }

&__part  {

    margin-right: 93px;
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    color: $footer-hero;
    @media screen and (max-width: 480px),  screen and (max-width: 768px) {
           
     margin-right: 0;
     font-size: 24px;
       
     }
 }


}
        .logo__part--activ{
            
            color: $white;
        }