html{
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}




:root{
  --white: #ffffff ;
    --active : #2196F3 ;
    --footer-hero: #2F303A ;
    --gray : #757575;
    --black : #212121 ;
    --number : rgba(255, 255, 255, 0.6); ;
    --team-back : #F5F4FA ;
}


body{
  margin: 0;
  font-family: "Raleway";
  font-family: "Roboto";
  line-height: 1.67 ;
  letter-spacing: 0.03em;
  
}

/* container */

.container{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.naked{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

.hidden{
  display: none;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}


/* header */

.page-header{
  border-bottom: 1px solid #ECECEC;
  
}

.header-container{
  display: flex;
  align-items: center;
 
  /* outline: 1px solid tomato; */
}

.site-nav{
  display: flex;
}

.site-nav li:not(:last-child) {
  margin-right: 50px;
}


.line-action{
  position: relative; 
  
}

.link.line::after{
  content: '';

  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;

  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: var(--active);
  border-radius: 2px;
}


.logo{
  color: var(--active);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}
.logo2{
  margin-right: 93px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--footer-hero);
}
.link {
  display: block;
  padding-top: 32px;
  padding-bottom: 28px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.14;
  color: var(--black);
}

.link:hover{
  color: var(--active);
  transition-duration: 250ms;
  

}

.auth-link{
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--gray);
}


.auth-item:not(:first-child){
  margin-left: 30px;

}


.auth-nav{
  display: flex;
  justify-content: center;
  padding: 0;
  margin-left: auto;
  
}

    .phone-svg{
      margin-right: 10px;
      width: 10px;
      height: 16px;
      fill: var(--gray);
    }

    .emale-svg{
      margin-right: 10px;
      width: 16px;
      height: 12px;
      fill: var(--gray);
    } 
      .auth-link:hover .emale-svg{
        fill: var(--active);
        transition-duration: 250ms;
      }
      .auth-link:hover{
        color: var(--active);
        transition-duration: 250ms;
      }
      .auth-link:hover .phone-svg{
        fill: var(--active);
        transition-duration: 250ms;
      }

.site-nav .action{
  color: var(--active);
}


/* Projects */

h2{
margin-top:0 ;
margin-bottom: 4px;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 2;
color: black;

}
p{
  margin: 0;
font-weight: normal;
font-size: 16px;
line-height: 2.25;
color: #757575;
}

.projects-nav {
  display: flex;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 50px;
}
.projects-item{
  padding: 6px 22px;
  margin-right: 8px;
  border-radius: 4px;

  color: var(--black);
  background-color: #F5F4FA;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.85;
}

.projects-item:last-child{
  margin-right: 0;
}


.projects-item:hover{
  background-color: var(--active);
  color: var(--white);
  transition-duration: 250ms;
  
  box-shadow: 0px 3px 1px 
  rgba(0, 0, 0, 0.1), 0px 1px 2px 
  rgba(0, 0, 0, 0.08), 0px 2px 2px
  rgba(0, 0, 0, 0.12);
  
}

.projects-nav-item:hover{
  background-color: var(--active);
  color: var(--white);
  transition-duration: 250ms;
  
}



.projects-list{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 94px;
  
  
}
  .projects-tumb{
    position: relative;
    overflow: hidden;
    

  }

    .tumb-text{
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(100%);
      margin: 0;
      padding: 63px 24px;
      height: 100%;

      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 1.5; 
      color: var(--white);
      background-color: rgba(33, 150, 243, 0.9);

      transition-duration: 250ms;
     
    }

    .projects-card:hover .tumb-text{
      transform: translateY(0);
      transition: transform 250ms ease;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      
    }

.projects-card{
  
  width: calc((100% - 30px * 2) /3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.projects-card:hover{

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
  0px 4px 4px rgba(0, 0, 0, 0.06), 
  1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-card:nth-child(3n){
  margin-right: 0;
}



.card-text{
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;

}


/* foooter */


.footer-box{
  width: 231px;
 padding-top: 60px;
  padding-bottom: 60px;
 
}

.footer-icon{
  margin-left: 70px;
  width: 206px;

}

.footer-container{
  display: flex;
  align-items: baseline;
}
.footer{
  background-color: var(--footer-hero);
}

.icon-title{
font-weight: bold;
font-size: 14px;
line-height: 1,14;
color: var(--white);
}
  .icon-link{
    display: block;
    width: 44px;
    height: 44px;
    
  }

  .icon-list{
    display: flex;
    
  }

  .inst-svg{
    margin: 12px 12px;
    width: 20px;
    height: 20px;
    fill: var(--white);
  }
    .twit-svg{
      margin: 14px 12px;
      width: 20px;
      height: 16px;
      fill: var(--white);
    }
      .facebook-svg{
        margin: 12px 17px;
        width: 10px;
        height: 20px;
        fill: var(--white);
      }
        .linked-svg{
          margin: 12px 12px;
          height: 20px;
          width: 20px;    
          fill: var(--white);
        }

          .icon-item{
            width: 44px;
            height: 44px;
            margin-right: 10px;
            margin-top: 20px;
            border-radius: 50px;
            background-color: rgba(255, 255, 255, 0.1);
            
          }
                                    .icon-item:last-child{
                                      margin-right: 0px;
                                    }

                                    .icon-item:hover{
                                      background-color: var(--active);
                                      transition-duration: 250ms;
                                    }
               
.logo3{
  display: inline-block;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white);
}

.adress{
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white);

}

.footer-item{
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-item:last-child{
  margin-bottom: 0;
  
}

