html{
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}




:root{
  --white: #ffffff ;
    --active : #2196F3 ;
    --footer-hero: #2F303A ;
    --gray : #757575;
    --black : #212121 ;
    --number : rgba(255, 255, 255, 0.6); ;
    --team-back : #F5F4FA ;
}


body{
  margin: 0;
  font-family: "Raleway";
  font-family: "Roboto";
  line-height: 1.67 ;
  letter-spacing: 0.03em;
}

/* container */

.container{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.naked{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

.hidden{
  display: none;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}


/* header */

.page-header{
  border-bottom: 1px solid #ECECEC;
}

.header-container{
  display: flex;
  align-items: center;

  /* outline: 1px solid tomato; */
}

.site-nav{
  display: flex;
}

.site-nav li:not(:last-child) {
  margin-right: 50px;
}

.logo{
  color: var(--active);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}
.logo2{
  margin-right: 93px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--footer-hero);
}
.link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.14;
  color: var(--black);
}

.link:hover{
  color: var(--active);

}

.mail, .phone{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--gray);
}

.phone{
  margin-left: 50px;
}
.mail:hover,
.phone:hover{
  color: var(--active);
}

.auth-nav{
  display: flex;
  margin-left: auto;
}


.auth-nav{
  display: flex;
margin-left: auto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;

}

.auth-item{
  color: var(--gray)
}
.auth-item:not(:last-child){
  margin-right: 50px;
}

.auth-item:hover{
  color: var(--active);
}

/* Projects */

h2{
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 2;

}
p{
font-weight: normal;
font-size: 16px;
line-height: 2.25;
color: #757575;
}

.projects-nav {
  display: flex;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 50px;
}
.projects-item{
  padding: 6px 22px;
  margin-right: 8px;
  border-radius: 4px;

  color: var(--black);
  background-color: #F5F4FA;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.85;
}

.projects-item:last-child{
  margin-right: 0;
}


.projects-item:hover{
  background-color: var(--active);
  color: var(--white);
}

.projects-nav-item:hover{
  background-color: var(--active);
  color: var(--white);
}



.projects-list{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 94px;
  
  
}

.projects-card{
  width: calc((100% - 30px * 2) /3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.projects-card:nth-child(3n){
  margin-right: 0;
}



.card-text{
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;

}


/* foooter */


.footer-box{
 padding-top: 60px;
  padding-bottom: 60px;
}

.footer{
  background-color: var(--footer-hero);
}



.logo3{
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white);
}

.adress{
  margin-top: 20px;
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white);

}

.footer-item{
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-item:last-child{
  margin-bottom: 0;
  
}

