:root {
    --white: #ffffff ;
    --active : #2196F3 ;
    --footer-hero: #2F303A ;
    --gray : #757575;
    --black : #212121 ;
    --number : rgba(255, 255, 255, 0.6); ;
    --team-back : #F5F4FA ;
}

body{
    font-family: "Roboto";
    color: var(--black);
    line-height: 1.67 ;
    background-image: url(./images/les-gory-ozero.jpg);
}

h2 h3{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;

}
header a{
    text-decoration: none;
    
    
}

.link-web{
    color: var(--active);
    font-family: "Raleway";
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.29;
   
}

header  span {
    color: var(--black);
}

.head-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--black);
    list-style-type: none; 
    
          
}


.head-item:hover{
    color: var(--active);
}

.hero{
    color: var(--white);
    background-color: var(--footer-hero);
    font-weight: 900;
    font-size: 44px;
    line-height:  1.36;
    
}
.hero a{
    text-decoration: none;
    font-style: normal;
     font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    
    

}

.hero a {
    background-color: var(--active);
    color: var(--white);
}

.advantages p span{
    color: var(--gray);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;

}

.advantages-title{
font-weight: bold;
font-size: 14px;
line-height: 1.14;


}

.team-container {
    background-color: var(--team-back);
}
.team-container p{
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}
.profession {
    color: var(--gray);
    
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;

}

.footer{
    background-color: var(--footer-hero);
    
}

.footer a{
    
    font-family: "Raleway";
    text-decoration: none;

}
.footer b{
    color: var(--white);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;

}
.footer li b {
    

    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;


}

.link-studio{
    color: var(--white);
}

.contacts {
    color: var(--number);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    list-style-type: none; 
}


