html{
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --white: #ffffff ;
    --active : #2196F3 ;
    --footer-hero: #2F303A ;
    --gray : #757575;
    --black : #212121 ;
    --number : rgba(255, 255, 255, 0.6); ;
    --team-back : #F5F4FA ;
}

.naked{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;

}

body {
    /* width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px; */


    font-family: "Roboto";
    color: var(--black);
    line-height: 1.67 ;
    letter-spacing: 0.03em;
}

/* header */

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
} 


.header-container{
    display: flex;
    align-items: center;
    /* outline: 1px solid tomato; */
}

.site-nav{
    display: flex;
}

.site-nav li:not(:last-child) {
    margin-right: 50px;
}

.logo{
    color: var(--active);
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
}
.logo2{
    margin-right: 93px;
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    color: var(--footer-hero);
}
.link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.14;
    color: var(--black);
}

.link:hover{
    color: var(--active);

}

.mail, .phone{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--gray);
}

.phone{
    margin-left: 50px;
}
.mail:hover,
.phone:hover{
    color: var(--active);
}

.auth-nav{
    display: flex;
    margin-left: auto;
}


/* Сайт герой главная */

.page-hero{
   text-align: center;
   background-color: var(--footer-hero);
   
}

.container-hero {
    padding-bottom: 200px;
    margin-bottom: 94px;
    background-color: var(--footer-hero);
    /* outline: 1px solid tomato; */

}

.main-title{
    padding-top: 200px;
    margin-top: 18px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--white);
}
.button{
    padding: 10px 32px;
    width: 200px;
    background-color: var(--active);
    color: var(--white);

}
.button span{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
}


/* Сексия наши преимущества  */

.advantages-container{
    margin-bottom: 120px;
    display: flex;
    /* outline: 1px solid tomato; */
}

.advantages-nav{
    display: flex;
    justify-content: end;
    
}

.item{
    width: 270px;
    height: 75px;
    /* outline: 1px solid tomato; */
}

.item:not(:last-child){
    margin-right: 30px;;
}
.hiden-text{
    display: none;
}

.item h3{
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.item p{
color: var(--gray);
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
}

/* Чем мы занимаемся */


.doing-title{
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.36;
    /* outline: 1px solid tomato; */
}

.doing-container{
    display: flex;
    justify-content: space-between;
    /* outline: 1px solid tomato; */
}


.doing-item{
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 95px;
  background-color:var(--active);
}



/* наша команда */

.page-command{
    background-color:#F5F4FA;;
    padding-bottom: 10px;

}

.command-title {
    margin-top: 0;
    padding-top: 94px;
    padding-bottom: 20px;

    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    /* outline: 1px solid tomato; */
}

.command-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 94px;
    /* outline: 1px solid tomato; */
}

.command-item{
    width: calc((100% - 30px)/4);

}

.command-text{
    margin-top: 20px;
    padding-bottom: 25px;
    max-width: 270px;
    text-align: center;
    background-color: var(--white);
}

.command-text > p {

    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
    color: var(--gray);
}

.command-text > p {
    margin: 0 ;

}

/*  footer */

.page-footer{
    background-color: var(--footer-hero);
}

.link-footer{
    padding-bottom: 20px;
}

.logo-footer{

    color: var(--active);
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
}
.logo1-footer{
    margin-right: 93px;
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    color: var(--white);
}

.adress{
    padding-bottom: 9px;
    font-weight: 200;
    font-size: 14px;
    line-height: 1.71;
    color: var(--white);

}
.footer{
    padding-top: 30px;
    padding-bottom: 30px;
    /* outline: 1px solid tomato; */
    
   
}
.footer-list{
    list-style-type: none;
    padding: 0;
    
}

.footer-list .mail{
    padding-bottom: 9px;
} 
